# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Log file
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/
