<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate_test</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hbm2ddl.auto">update</property>

        <!--<property name="hibernate.cache.region.factory_class">net.sf.ehcache.EhCache</property>-->
        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>

        <!-- enable second level cache and query cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property>

        <mapping class="org.zigzzzag.Branch"/>
    </session-factory>

</hibernate-configuration>